<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bài 2 - Đăng nhập</title>
</head>
<body>
    <h2>ĐĂNG NHẬP</h2>

    <!-- Thông báo -->
    <p th:if="${message}" th:text="${message}" 
       th:style="${message.contains('✅') ? 'color:green;' : 'color:red;'}"></p>

    <form action="/account/login" method="post">
        <label>Username:</label>
        <input name="username" placeholder="Username"><br><br>

        <label>Password:</label>
        <input name="password" type="password" placeholder="Password"><br><br>

        <label>
            <input type="checkbox" name="remember" value="true"> Remember me
        </label><br><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>
